:root {
  --go-to-grey: #dddddd;
  --highlight-orange: #ff8c28;
}

/* https://github.com/garrettboatman/ForTheWolf/blob/master/fonts/Futura-Medium.woff */
@font-face { 
  font-family: Inconsolata-Light;
  src: url('/Fonts/Inconsolata/Inconsolata-Light.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Inconsolata-Medium;
  src: url('/Fonts/Inconsolata/Inconsolata-Medium.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-Regular;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-SemiBold;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-Bold;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Jost-Regular;
  src: url('/Fonts/Jost/Jost-Regular.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Jost-SemiBold;
  src: url('/Fonts/Jost/Jost-SemiBold.ttf');
  font-weight: normal;
}



/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    font-family: IBM-Plex-Mono-SemiBold;
}

main {
  flex-grow: 1;
}

.back-button {
    background-color: rgb(149, 149, 149);
    font-family: IBM-Plex-Mono-SemiBold;
    font-size: 14px;
    text-align: center;
    color: black;
    padding: 4px 6px 6px 6px;
    margin: 4px 0 0 4px;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    float: left;
    transition-duration: 0.2s;
    cursor: pointer;
}

.back-button:hover {
    background-color: var(--highlight-orange);
}

.container {
    margin: 100px 0 0 0;
    text-align: center;
}

.label-text {
    color: white;
    font-size: 18px;
}

textarea.input-text {
    width: 50vh;
    height: 18vh;
    font-size: 10px;
    padding: 10px 20px;
    margin: 30px 0 30px 0;
    border-radius: 8px;
}

.submit-button {
    background-color: white;
    font-family: IBM-Plex-Mono-SemiBold;
    font-size: 18px;
    color: black;
    padding: 10px 32px;
    border-radius: 14px;
    border-style: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(117, 81, 126);
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: 50px auto auto auto;
    display: block;
    width: 50%;
    /* border: 1px solid white; */
}


/* Fading text in and out continuously */
.fade-text p {
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  animation: fadeInOut 4s infinite alternate; /* 4s duration, infinite loop, alternates direction */
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* Start invisible */
  }
  50% {
    opacity: 1; /* Fade in to fully visible */
  }
  100% {
    opacity: 0; /* Fade out to invisible */
  }
}