:root {
  --go-to-grey: #dddddd;
  --highlight-orange: #ff8c28;
}

/* https://github.com/garrettboatman/ForTheWolf/blob/master/fonts/Futura-Medium.woff */
@font-face { 
  font-family: Inconsolata-Light;
  src: url('/Fonts/Inconsolata/Inconsolata-Light.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Inconsolata-Medium;
  src: url('/Fonts/Inconsolata/Inconsolata-Medium.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-Regular;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-SemiBold;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: IBM-Plex-Mono-Bold;
  src: url('/Fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Jost-Regular;
  src: url('/Fonts/Jost/Jost-Regular.ttf');
  font-weight: normal;
}

@font-face { 
  font-family: Jost-SemiBold;
  src: url('/Fonts/Jost/Jost-SemiBold.ttf');
  font-weight: normal;
}






/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* border-style: dotted; */
  margin-bottom: 100px;
  flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* ---------- NEW NAVBAR STYLING ---------- */
.navbar {
    /* border-style: dotted; */
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px 8px 0px;
    background-color: white;
    color: black;
    border-bottom: 1px dashed black;
}

.nav-header {
  font-family: IBM-Plex-Mono-SemiBold;
  font-size: 12px;
  margin: 0 0 0 50px;
}

.nav-links a {
    font-family: IBM-Plex-Mono-SemiBold;
    color: black;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 16px;
    margin-right: 50px;
}

.menu li:hover {
    background-color: var(--highlight-orange);
    border-radius: 3px;
    /* transition: 0.3s ease; */
}

.menu li a:hover {
    color: black;
}

.menu li {
    padding: 4px 10px;
}


.dropdown {
    /* border-style: dotted; */
    background-color: #dbdbdb;
    padding: 0 0;
    position: absolute;     /* with respect to parent */
    display: none;
    border-radius: 8px;
    top: 2.6em;
    right: 4.8em;
}

.dropdown li a + li {
    /* border-style: dotted; */
    margin-top: 0px;
}

.dropdown li {
    /* border-style: dotted; */
    /* padding: 0.5em; */
    width: 18em;
    text-align: center;
}

.dropdown li:hover {
    /* border-style: dotted; */
    background-color: var(--highlight-orange);
}

.dropdown-menu:hover .dropdown {
    /* transition-delay: 1s; */
    /* border-style: dotted; */
    display: block;
    background-color: var(--highlight-orange);
}

/* RESPONSIVE NAVBAR */
.hack { /* input */
    display: none
}

/* HAMBURGER MENU */
.hamburger {
    background-color: white;
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    margin-right: 50px;
}
/* ---------- NEW NAVBAR STYLING ABOVE ---------- */



/* ---------- PAGE DEFAULT ---------- */
.page-body{
  border-style: dashed;
  border-width: 1px;
  stroke-dasharray: 1;
  width: 75vw;
  padding: 20px;
  margin: 100px auto 50px auto;
  word-wrap: break-word;
}

.page-header{
  font-family: IBM-Plex-Mono-Bold;
  font-size: 22px;
  /* border-style: dotted; */
  /* border-radius: 20px; */
  text-align: left;
}

.page-header-subtext{
  font-family: IBM-Plex-Mono-Bold;
  font-size: 16px;
  /* border-style: dotted; */
  /* border-radius: 20px; */
  text-align: left;
  /* width: 75vw; */
  margin: 20px auto 10px auto;
  padding: 10px 20px 0px 20px;
}

.page-title {
  /* border-style: dotted; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: IBM-Plex-Mono-Regular;
  width: fit-content;
  font-size: 4.5vw;
  margin: 30px auto auto auto;
  padding: 20px;
}

.page-subtitle {
  /* border-style: dotted; */
  font-family: Jost-SemiBold;
  width: fit-content;
  /* margin: 20px 0 0 20px; */
  /* margin: 30px 0 0 20px; */
  font-size: 20px;
}

.page-text {
  /* border-style: dotted; */
  font-family: Jost-Regular;
  font-size: 18px;
  word-wrap: break-word;
}

.page-text-link {
  font-family: Jost-Regular;
  color: black;
  /* width: 75vw; */
  font-size: 18px;
  text-decoration: underline var(--highlight-orange);
  text-decoration-thickness: 3px;
  word-wrap: break-word;
}

.page-text-link:hover {
  /* background-color: var(--go-to-grey); */
  background-color: var(--highlight-orange);
  border-radius: 3px;
  /* padding: 0 5px 0 5px; */
}

.main-link {
  font-family: Jost-SemiBold;
  width: fit-content;
  /* margin: 0 20px 0 20px; */
  font-size: 20px;
  color: black;
}

.main-link:hover {
  /* background-color: var(--go-to-grey); */
  background-color: var(--highlight-orange);
  border-radius: 3px;
  /* padding: 0 5px 0 5px; */
}

.sub-link {
    font-family: IBM-Plex-Mono-Regular;
  color: black;
  margin: 20px auto 10px auto;
  padding: 10px 20px 0px 20px;
}

.sub-link:hover {
  /* background-color: var(--go-to-grey); */
  background-color: var(--highlight-orange);
  border-radius: 5px;
}
/* ---------- ---------- ---------- */


.project-date {
  font-family: IBM-Plex-Mono-Regular;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}


/* ---------- CONTACT BUTTON ---------- */
.contact-button {
  background-color: var(--go-to-grey);
  border: 0.25vw solid black;
  border-radius: 2vw;
  color: black;
  padding: 1vw 2vw 1vw 2vw;
  text-align: center;
  text-decoration: none;
  font-family: Jost-Regular;
  font-size: 2vw;
  cursor: pointer;
  margin: 35px auto 100px auto;
}

.contact-button:hover {
  box-shadow: 0 5px 16px 0 rgba(173, 173, 173, 0.24),0 17px 25px 0 rgba(173, 173, 173, 0.24);
  transition: all 0.3s ease 0s;
  border: 0.25vw solid #81BB4E;
  border-radius: 2vw;
  background-color: #81BB4E;
  color: white;
}


/* ---------- FOOTER ---------- */
footer {
  /* border-style: dotted; */
  /* position: fixed; */
  padding: 10px 0 10px 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background-color: white;
  /* border-top: 1px solid black; */
}

.footer-nav {
  /* border-style: dotted; */
  font-family: IBM-Plex-Mono-Regular;
  font-size: 16px;
  color: black;
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
  overflow: hidden;
}

li.footer-nav-link {
  /* border-style: dotted; */
  padding: 0 10px 0 10px;
  margin: 0;
  color: black;
  display: inline-block;
}

li.footer-nav-link a {
  color: black;
  display: inline-block;
}

li.footer-nav-link:hover {
  background-color: var(--highlight-orange);
  border-radius: 5px;
  /* transition: 0.3s ease; */
}

li.footer-nav-link a:hover {
  color: black;
}

.footer-credits-div {
  margin: auto;
}

.footer-credits {
  /* border-style: dotted; */
  font-family: IBM-Plex-Mono-Regular;
  font-size: 16px;
  text-align: center;
  /* margin: 0 auto 20px 0; */
}

#copyright {
  color: black;
  text-decoration: none;
}

/* SOCIAL LINKS & ICONS */
.social-links {
  /* border-style: dotted; */
  /* position: static; */
  margin: 0 50px 20px 100px;
  text-align: center;
}

.social-icon {
  /* border-style: dotted; */
  /* width: 1vw; */
  padding: 0 10px 0 10px;
  text-decoration: none;
}
/* ---------- ---------- ---------- */



/* MEDIA QUERIES */
@media (max-width: 1075px) {
    .nav-header {
        width: 70px;
        word-wrap: break-word;
    }

    .menu {
        border: black dashed 1px;
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 10px 0;
        margin-top: 11px;
        width: 100%;
    }

    .menu li:hover {
        cursor: pointer;
        display: inline-block;
        background-color: var(--highlight-orange);
        transition: 0.3s ease;
    }

    .hack:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        /* margin-top: -17px; */
    }

    .dropdown {
        /* left: 50%; */
        top: 34px;
        /* transform: translateX(10%); */
    }

    .dropdown li:hover {
        background-color: var(--highlight-orange);
    }
}
/* ---------- ---------- ---------- */



/* ---------- MOBILE ---------- */
@media only screen and (max-width: 600px) {
  img.company-logo {
      width: 175px;
  }

  .menu {
    border: black dashed 1px;
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 11px;
    width: 100%;
}

  ul {
    width: fit-content;
  }

  li a {
    padding: 0 20px 0 20px;
  }

.menu li:hover {
    cursor: pointer;
    display: inline-block;
    background-color: var(--highlight-orange);
    /* transition: 0.3s ease; */
}

.hack:checked ~ .menu {
    display: block;
}

.hamburger {
    display: block;
}

.dropdown {
    /* left: 50%; */
    top: 20px;
    /* transform: translateX(10%); */
}

.dropdown li:hover {
    background-color: white;
}

  #page-title {
      font-size: 10vw;
  }

  #page-subtitle {
      font-size: 8vw;
      text-align: center;
      inline-size: 300px;
      text-wrap: break-word;
  }

  #page-desc {
      width: 80vw;
      font-size: 4vw;
  }

  .contact-button {
      font-size: 4vw;
  }

  .footer-nav {
      /* width: 200px; */
      font-size: 16px;
      text-align: center;
      padding: 0;
      /* margin: 10px 20px 10px 50px; */
    }

  li.footer-nav-link {
      /* border-style: dotted; */
      width: 175px;
      padding: 0;
      margin: 0;
  }

  .social-links {
      margin: 10px 20px 10px;
  }

  .social-icon {
      display: block;
      padding: 15px 0 15px 0;
  }

  .footer-credits {
      font-size: 16px;
      text-align: center;
      /* inline-size: 80px; */
      overflow-wrap: break-word;
      /* margin: 10px 0 10px 60px; */
      /* float: center; */
  }
}
/* ---------- ---------- ---------- */




/* CREDITS / HELP

Responsive navbar: https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ 

*/